.headerContainer{ 
    height: 5rem;
    background: var(--dark-700);
    width: 100%;
}

.headerContent{
    max-width: 1280px;
    margin: 0 auto;
    height: 5rem;
    padding: 0 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a{
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    nav{
        display: flex;
        align-items: center;
        gap: 14px;

        a{
            color: var(--white);
            text-decoration: none;
            transition: color .8s;

            &:hover{
                color: var(--red-900);
            }
    }

    button{
        border: 0;
        background: transparent;
        margin-left: 16px;
        transition: transform 0.5s;

        &:hover{
            transform: scale(1.2);
            
        }
    }
}

}